<html>

<head>
    <title>RATF CTF TEAM</title>
    <meta name="description" content="ratf ctf team">
    <link type="text/css" rel="stylesheet" href="{{ "/assets/general.css" | relative_url }}">
    <link rel="Shortcut Icon" href="/web/20090210054015im_/http://milw0rm.com/favicon.ico" type="image/x-icon">
</head>

<body dir="ltr" alink="#00ff00" background="dot.gif" bgcolor="#000000" link="#00c000" text="#008000" vlink="#00c000">
    <center>
        <table border="0">
            <tr>
                <td nowrap="nowrap">
                    <!-- menu -->
                    <b>[ <a href="/web/20090210054015/http://milw0rm.com/" target="_self">home</a> ]</b>
                    <b>[ <a href="/web/20090210054015/http://milw0rm.com/contents.php" target="_self">membros</a> ]</b>
                    <b>[ <a href="/web/20090210054015/http://milw0rm.com/platforms/" target="_self">recrutamento</a> ]</b>
                    <b>[ <a href="/web/20090210054015/http://milw0rm.com/shellcode/" target="_self">contato</a> ]</b>
                    <!-- menu -->
                </td>
            </tr>
        </table>
