<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ site.title }}</title>
    <link type="text/css" rel="stylesheet" href="{{ "/assets/general.css" | relative_url }}">
    <link rel="Shortcut Icon" href="/web/20090210054015im_/http://milw0rm.com/favicon.ico" type="image/x-icon">
</head>

<body dir="ltr" alink="#00ff00" background="{{ "/assets/dot.gif" | relative_url }}"" bgcolor="#000000" link="#00c000" text="#008000" vlink="#00c000">
    <center>
        <table border="0">
            <tr>
                <td nowrap="nowrap">
                    {% for item in site.data.main-menu.itens %}
                        <b>[ <a href="{{ item.url }}" target="_self">{{ item.title }}</a> ]</b>
                    {% endfor %}  
                </td>
            </tr>
        </table>
