                                <td class="style13">-::DATE</td>
                                <td class="style13">-::DESCRIPTION</td>
                                <td class="style13" width="40">-::HITS</td>
                                <td class="style13" width="9"></td>
                                <td class="style13" width="9"></td>
                                <td class="style13" width="9"></td>
                                <td class="style13" width="9"></td>
                                <td>-::AUTHOR</td>
