{% include header.html %}
        <table width="668" border="0" cellpadding="3" cellspacing="3" class="main">
            <tr>
                <td><img src="milw0rm-wi.jpg" alt="milw0rm"></td>
            </tr>
            <tr>
                <td>
                    <b>[ <a href="/web/20090210054015/http://milw0rm.com/" target="_self">highlighted</a> ]</b>
                    <table width="597" align="center" border="0">
                        <tbody>
                            <tr class="style13">
                                <td class="style13">-::DATE</td>
                                <td class="style13">-::DESCRIPTION</td>
                                <td class="style13" width="40">-::HITS</td>
                                <td class="style13" width="9"></td>
                                <td class="style13" width="9"></td>
                                <td class="style13" width="9"></td>
                                <td class="style13" width="9"></td>
                                <td>-::AUTHOR</td>
                            </tr>
                            <tr class="submit">
                                <td class="style14" nowrap="nowrap" width="62">2009-02-09</td>
                                <td nowrap="nowrap" width="375"><a href="/web/20090210054015/http://milw0rm.com/exploits/8024" target="_blank" class="style15">TightVNC Authentication Failure Integer Overflow PoC</a></td>
                                <td nowrap="nowrap" width="40" align="left">696</td>
                                <td nowrap="nowrap" width="9" valign="middle" align="center"><a href="/web/20090210054015/http://milw0rm.com/related.php?program=TightVNC" class="style16" title="related releases">R</a></td>
                                <td nowrap="nowrap" width="9" valign="middle" align="center"></td>
                                <td nowrap="nowrap" width="9" valign="middle" align="center">
                                    <a href="/web/20090210054015/http://milw0rm.com/exploits/download/8024" class="style16" title="download">D</a>
                                </td>
                                <td nowrap="nowrap" width="9" valign="middle" align="center">
                                </td>
                                <td nowrap="nowrap" width="135">
                                    <a href="/web/20090210054015/http://milw0rm.com/author/1828">desi</a>
                                </td>
                            </tr>
                            <tr class="submit">
                                <td class="style14" nowrap="nowrap" width="62">2009-02-09</td>
                                <td nowrap="nowrap" width="375"><a href="/web/20090210054015/http://milw0rm.com/exploits/8021" target="_blank" class="style15">Squid &lt; 3.1 5 HTTP Version Number Parsing Denial of Service Exploit</a></td>
                                <td nowrap="nowrap" width="40" align="left">582</td>
                                <td nowrap="nowrap" width="9" valign="middle" align="center"><a href="/web/20090210054015/http://milw0rm.com/related.php?program=Squid" class="style16" title="related releases">R</a></td>
                                <td nowrap="nowrap" width="9" valign="middle" align="center"></td>
                                <td nowrap="nowrap" width="9" valign="middle" align="center">
                                    <a href="/web/20090210054015/http://milw0rm.com/exploits/download/8021" class="style16" title="download">D</a>
                                </td>
                                <td nowrap="nowrap" width="9" valign="middle" align="center">
                                </td>
                                <td nowrap="nowrap" width="135">
                                    <a href="/web/20090210054015/http://milw0rm.com/author/1490">Praveen Darshanam</a>
                                </td>
                            </tr>
                            <tr class="submit">
                                <td class="style14" nowrap="nowrap" width="62">2009-02-04</td>
                                <td nowrap="nowrap" width="375"><a href="/web/20090210054015/http://milw0rm.com/exploits/7990" target="_blank" class="style17">UltraVNC/TightVNC Multiple VNC Clients Multiple Integer Overflow PoC</a></td>
                                <td nowrap="nowrap" width="40" align="left">5051</td>
                                <td nowrap="nowrap" width="9" valign="middle" align="center"><a href="/web/20090210054015/http://milw0rm.com/related.php?program=VNC" class="style16" title="related releases">R</a></td>
                                <td nowrap="nowrap" width="9" valign="middle" align="center"></td>
                                <td nowrap="nowrap" width="9" valign="middle" align="center">
                                    <a href="/web/20090210054015/http://milw0rm.com/exploits/download/7990" class="style16" title="download">D</a>
                                </td>
                                <td nowrap="nowrap" width="9" valign="middle" align="center">
                                </td>
                                <td nowrap="nowrap" width="135">
                                    <a href="/web/20090210054015/http://milw0rm.com/author/1815">Andres Luksenberg</a>
                                </td>
                            </tr>
                            <tr class="submit">
                                <td class="style14" nowrap="nowrap" width="62">2009-02-04</td>
                                <td nowrap="nowrap" width="375"><a href="/web/20090210054015/http://milw0rm.com/exploits/7988" target="_blank" class="style17">Amaya Web Browser 11 (bdo tag) Remote Stack Overflow Exploit (xp)</a></td>
                                <td nowrap="nowrap" width="40" align="left">1877</td>
                                <td nowrap="nowrap" width="9" valign="middle" align="center"><a href="/web/20090210054015/http://milw0rm.com/related.php?program=Amaya" class="style16" title="related releases">R</a></td>
                                <td nowrap="nowrap" width="9" valign="middle" align="center"></td>
                                <td nowrap="nowrap" width="9" valign="middle" align="center">
                                    <a href="/web/20090210054015/http://milw0rm.com/exploits/download/7988" class="style16" title="download">D</a>
                                </td>
                                <td nowrap="nowrap" width="9" valign="middle" align="center">
                                </td>
                                <td nowrap="nowrap" width="135">
                                    <a href="/web/20090210054015/http://milw0rm.com/author/1821">Rob Carter</a>
                                </td>
                            </tr>
                            <tr class="submit">
                                <td class="style14" nowrap="nowrap" width="62">2009-02-03</td>
                                <td nowrap="nowrap" width="375"><a href="/web/20090210054015/http://milw0rm.com/exploits/7972" target="_blank" class="style17">Openfiler 2.3 (Auth Bypass) Remote Password Change Exploit</a></td>
                                <td nowrap="nowrap" width="40" align="left">3429</td>
                                <td nowrap="nowrap" width="9" valign="middle" align="center"><a href="/web/20090210054015/http://milw0rm.com/related.php?program=Openfiler" class="style16" title="related releases">R</a></td>
                                <td nowrap="nowrap" width="9" valign="middle" align="center"></td>
                                <td nowrap="nowrap" width="9" valign="middle" align="center">
                                    <a href="/web/20090210054015/http://milw0rm.com/exploits/download/7972" class="style16" title="download">D</a>
                                </td>
                                <td nowrap="nowrap" width="9" valign="middle" align="center">
                                </td>
                                <td nowrap="nowrap" width="135">
                                    <a href="/web/20090210054015/http://milw0rm.com/author/1329">nonroot</a>
                                </td>
                            </tr>
                            <tr class="submit">
                                <td class="style14" nowrap="nowrap" width="62">2009-02-03</td>
                                <td nowrap="nowrap" width="375"><a href="/web/20090210054015/http://milw0rm.com/exploits/7957" target="_blank" class="style17">Free Download Manager &lt;= 3.0 Build 844 .torrent BOF Exploit</a></td>
                                <td nowrap="nowrap" width="40" align="left">2663</td>
                                <td nowrap="nowrap" width="9" valign="middle" align="center"><a href="/web/20090210054015/http://milw0rm.com/related.php?program=Free+Download+Manager" class="style16" title="related releases">R</a></td>
                                <td nowrap="nowrap" width="9" valign="middle" align="center"></td>
                                <td nowrap="nowrap" width="9" valign="middle" align="center">
                                    <a href="/web/20090210054015/http://milw0rm.com/exploits/download/7957" class="style16" title="download">D</a>
                                </td>
                                <td nowrap="nowrap" width="9" valign="middle" align="center">
                                </td>
                                <td nowrap="nowrap" width="135">
                                    <a href="/web/20090210054015/http://milw0rm.com/author/1638">SkD</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <br><b>[ <a href="/web/20090210054015/http://milw0rm.com/remote.php" target="_self">remote</a> ]</b>
                    <table width="597" align="center" border="0">
                        <tbody>
                            <tr class="style13">
                                <td class="style13">-::DATE</td>
                                <td class="style13">-::DESCRIPTION</td>
                                <td class="style13" width="40">-::HITS</td>
                                <td class="style13" width="9"></td>
                                <td class="style13" width="9"></td>
                                <td class="style13" width="9"></td>
                                <td class="style13" width="9"></td>
                                <td>-::AUTHOR</td>
                            </tr>
                            <tr class="submit">
                                <td class="style14" nowrap="nowrap" width="62">2009-02-09</td>
                                <td nowrap="nowrap" width="375"><a href="/web/20090210054015/http://milw0rm.com/exploits/8023" target="_blank" class="style15">ZeroShell &lt;= 1.0beta11 Remote Code Execution Vulnerability</a></td>
                                <td nowrap="nowrap" width="40" align="left">543</td>
                                <td nowrap="nowrap" width="9" valign="middle" align="center"><a href="/web/20090210054015/http://milw0rm.com/related.php?program=ZeroShell" class="style16" title="related releases">R</a></td>
                                <td nowrap="nowrap" width="9" valign="middle" align="center"></td>
                                <td nowrap="nowrap" width="9" valign="middle" align="center">
                                    <a href="/web/20090210054015/http://milw0rm.com/exploits/download/8023" class="style16" title="download">D</a>
                                </td>
                                <td nowrap="nowrap" width="9" valign="middle" align="center">
                                </td>
                                <td nowrap="nowrap" width="135">
                                    <a href="/web/20090210054015/http://milw0rm.com/author/1254">ikki</a>
                                </td>
                            </tr>
                            <tr class="submit">
                                <td class="style14" nowrap="nowrap" width="62">2009-02-09</td>
                                <td nowrap="nowrap" width="375"><a href="/web/20090210054015/http://milw0rm.com/exploits/8022" target="_blank" class="style15">3Com OfficeConnect Wireless Cable/DSL Router Authentication Bypass</a></td>
                                <td nowrap="nowrap" width="40" align="left">440</td>
                                <td nowrap="nowrap" width="9" valign="middle" align="center"><a href="/web/20090210054015/http://milw0rm.com/related.php?program=3Com" class="style16" title="related releases">R</a></td>
                                <td nowrap="nowrap" width="9" valign="middle" align="center"></td>
                                <td nowrap="nowrap" width="9" valign="middle" align="center">
                                    <a href="/web/20090210054015/http://milw0rm.com/exploits/download/8022" class="style16" title="download">D</a>
                                </td>
                                <td nowrap="nowrap" width="9" valign="middle" align="center">
                                </td>
                                <td nowrap="nowrap" width="135">
                                    <a href="/web/20090210054015/http://milw0rm.com/author/1254">ikki</a>
                                </td>
                            </tr>
                            <tr class="submit">
                                <td class="style14" nowrap="nowrap" width="62">2009-02-04</td>
                                <td nowrap="nowrap" width="375"><a href="/web/20090210054015/http://milw0rm.com/exploits/7989" target="_blank" class="style14">Amaya Web Browser 11 (bdo tag) Remote Stack Overflow Exploit (vista)</a></td>
                                <td nowrap="nowrap" width="40" align="left">1269</td>
                                <td nowrap="nowrap" width="9" valign="middle" align="center"><a href="/web/20090210054015/http://milw0rm.com/related.php?program=Amaya" class="style16" title="related releases">R</a></td>
                                <td nowrap="nowrap" width="9" valign="middle" align="center"></td>
                                <td nowrap="nowrap" width="9" valign="middle" align="center">
                                    <a href="/web/20090210054015/http://milw0rm.com/exploits/download/7989" class="style16" title="download">D</a>
                                </td>
                                <td nowrap="nowrap" width="9" valign="middle" align="center">
                                </td>
                                <td nowrap="nowrap" width="135">
                                    <a href="/web/20090210054015/http://milw0rm.com/author/1821">Rob Carter</a>
                                </td>
                            </tr>
                            <tr class="submit">
                                <td class="style14" nowrap="nowrap" width="62">2009-02-04</td>
                                <td nowrap="nowrap" width="375"><a href="/web/20090210054015/http://milw0rm.com/exploits/7988" target="_blank" class="style14">Amaya Web Browser 11 (bdo tag) Remote Stack Overflow Exploit (xp)</a></td>
                                <td nowrap="nowrap" width="40" align="left">1877</td>
                                <td nowrap="nowrap" width="9" valign="middle" align="center"><a href="/web/20090210054015/http://milw0rm.com/related.php?program=Amaya" class="style16" title="related releases">R</a></td>
                                <td nowrap="nowrap" width="9" valign="middle" align="center"></td>
                                <td nowrap="nowrap" width="9" valign="middle" align="center">
                                    <a href="/web/20090210054015/http://milw0rm.com/exploits/download/7988" class="style16" title="download">D</a>
                                </td>
                                <td nowrap="nowrap" width="9" valign="middle" align="center">
                                </td>
                                <td nowrap="nowrap" width="135">
                                    <a href="/web/20090210054015/http://milw0rm.com/author/1821">Rob Carter</a>
                                </td>
                            </tr>
                            <tr class="submit">
                                <td class="style14" nowrap="nowrap" width="62">2009-02-03</td>
                                <td nowrap="nowrap" width="375"><a href="/web/20090210054015/http://milw0rm.com/exploits/7966" target="_blank" class="style14">NaviCopa webserver 3.0.1 (BOF/SD) Multiple Remote Vulnerabilities</a></td>
                                <td nowrap="nowrap" width="40" align="left">1092</td>
                                <td nowrap="nowrap" width="9" valign="middle" align="center"><a href="/web/20090210054015/http://milw0rm.com/related.php?program=NaviCopa+webserver" class="style16" title="related releases">R</a></td>
                                <td nowrap="nowrap" width="9" valign="middle" align="center"></td>
                                <td nowrap="nowrap" width="9" valign="middle" align="center">
                                    <a href="/web/20090210054015/http://milw0rm.com/exploits/download/7966" class="style16" title="download">D</a>
                                </td>
                                <td nowrap="nowrap" width="9" valign="middle" align="center">
                                </td>
                                <td nowrap="nowrap" width="135">
                                    <a href="/web/20090210054015/http://milw0rm.com/author/1453">e.wiZz!</a>
                                </td>
                            </tr>
                            <tr class="submit">
                                <td class="style14" nowrap="nowrap" width="62">2009-02-02</td>
                                <td nowrap="nowrap" width="375"><a href="/web/20090210054015/http://milw0rm.com/exploits/7937" target="_blank" class="style14">Small HTTP Server &lt;= 3.05.85 Directory Traversal Exploit</a></td>
                                <td nowrap="nowrap" width="40" align="left">2407</td>
                                <td nowrap="nowrap" width="9" valign="middle" align="center"><a href="/web/20090210054015/http://milw0rm.com/related.php?program=Small+HTTP+Server" class="style16" title="related releases">R</a></td>
                                <td nowrap="nowrap" width="9" valign="middle" align="center"></td>
                                <td nowrap="nowrap" width="9" valign="middle" align="center">
                                    <a href="/web/20090210054015/http://milw0rm.com/exploits/download/7937" class="style16" title="download">D</a>
                                </td>
                                <td nowrap="nowrap" width="9" valign="middle" align="center">
                                </td>
                                <td nowrap="nowrap" width="135">
                                    <a href="/web/20090210054015/http://milw0rm.com/author/1220">Houssamix</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    {% include footer.html %}
