{% include header.html %}
<table width="668" border="0" cellpadding="3" cellspacing="3" class="main">
        <b>[ remote ]</b>
       <table bordercolor="#333333" width="231" align="center" border="0">
        <tbody>
           <tr class="style13">
             <td width="225" class="style13"><div align="center"><a href="/web/20090208172550/http://milw0rm.com/remote.php" target="_self">-::Remote Full Listing</a></div></td>
           </tr>
           <tr class="style13">
            <td width="225" class="style13"><div align="center"><a href="/web/20090208172550/http://milw0rm.com/port.php" target="_self">-::Remote By Default Port</a></div></td>
          </tr>
           <tr class="style13">
            <td width="225" class="style13"><div align="center"><a href="/web/20090208172550/http://milw0rm.com/remote-by.php?platform=php" target="_self">-::Remote PHP Flaws </a></div></td>
          </tr>
           <tr class="style13">
            <td width="225" class="style13"><div align="center"><a href="/web/20090208172550/http://milw0rm.com/remote-by.php?platform=cgi" target="_self">-::Remote CGI Flaws</a></div></td>
          </tr>
           <tr class="style13">
            <td width="225" class="style13"><div align="center"><a href="/web/20090208172550/http://milw0rm.com/remote-by.php?platform=asp" target="_self">-::Remote ASP Flaws</a></div></td>
          </tr>
           <tr class="style13">
            <td width="225" class="style13"><div align="center"><a href="/web/20090208172550/http://milw0rm.com/exploits/browsers/" target="_self">-::Remote Browser Vuln Exploration</a></div></td>
          </tr>
         </tbody>
        </table>
       <br>
{% include footer.html %}
