{% include header.html %}
        <table border="0" cellpadding="3" cellspacing="3" class="main">
            <tr>
                <td><img src="{{ "/assets/ratf_logo.png" | relative_url }}" alt="ratf" class="img-logo"></td>
            </tr>
            <tr>
                <td>
                    <b>[ membros ]</b>
                    <br>
                    <table bordercolor="#333333" align="center" border="0" class="sub-main">
                        <tbody>
                            {% for item in site.data.members.itens %}
                            <tr class="style13">
                                <td class="style13">
                                    <div align="center"><a href="{{ item.url }}" target="_blank">-::{{ item.name }}</a></div>
                                </td>
                            </tr>
                            {% endfor %}  
                        </tbody>
                    </table>
                    <br>
{% include footer.html %}
