{% include header.html %}
        <table border="0" cellpadding="3" cellspacing="3" class="main">
            <tr><!-- Temporary hotlinking :D -->
                <td><img src="https://ctftime.org/media/team/RATF_FINAL.png" alt="ratf" class="img-logo"></td>
            </tr>
            <tr>
                <td>
                    <b>[ write-ups ]</b>
                    <table align="center" border="0" class="sub-main">
                        <tbody>
                            <tr class="style13">
                                {% include writeups-table-header.html %}
                            </tr>
                                {{ content }}
                        </tbody>
                    </table>
                    {% include footer.html %}
