{% include header.html %}
        <table border="0" cellpadding="3" cellspacing="3" class="main">
            <tr><!-- Temporary hotlinking :D -->
                <td><img src="https://ctftime.org/media/team/RATF_FINAL.png" alt="ratf" class="img-logo"></td>
            </tr>
            <tr>
                <td>
                    <b>[ write-ups ]</b>
                    <table align="center" border="0" class="sub-main">
                        <tbody>
                            <tr class="style13">
                                {% include writeups-table-header.html %}
                            </tr>
                                {{ content }}
                        </tbody>
                    </table>


<!-- pagination -->
{% if paginator.total_pages > 1 %}
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}">&laquo; Prev</a>
  {% else %}
    <span>&laquo; Prev</span>
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <span>{{ page }}</span>
    {% elsif page == 1 %}
      <a href="/">{{ page }}</a>
    {% else %}
      <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
  {% else %}
    <span>Next &raquo;</span>
  {% endif %}
</div>
{% endif %}
                    {% include footer.html %}
