{% include header.html %}
        <table border="0" cellpadding="3" cellspacing="3" class="main">
            <tr>
                <td><img src="milw0rm-wi.jpg" alt="milw0rm"></td>
            </tr>
            <tr>
                <td>
                    <b>[ <a href="/web/20090210054015/http://milw0rm.com/" target="_self">write-ups</a> ]</b>
                    <table align="center" border="0">
                        <tbody>
                            <tr class="style13">
                                {% include writeups-table-header.html %}
                            </tr>
                                {{ content }}
                        </tbody>
                    </table>
                    {% include footer.html %}
